*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overall {
    width: 100%;
    min-height: 100%;
}

.imagediv {
    width: 100%;
    height: 100vh;
    background-image: url(https://st2.depositphotos.com/3837271/5507/i/450/depositphotos_55072853-stock-photo-time-to-travel-wooden-sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

label {
    display: none;
    font-size: 28px;
    font-weight: bold;
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    left: 30px;
    top: 10px;
    position: fixed;
}

@keyframes logo {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 999;
    padding: 0.8rem 2rem;
    background-color: #FFCF96;
}

.rightnav {
    display: flex;
    gap: 40px;
}

.rightnav button {
    padding: 0.4rem 2rem;
    border: 4px double transparent;
    background: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 1s;
}

.rightnav button:hover {
    border: 4px  rgb(8, 5, 7);
    transform:scale(1.1);
    background-color: purple; 
    color: white;
}

input:checked~.rightnav {
    background-color: rgb(173, 228, 168);
    left: 0;
    transition: 1s;
}

h1 {
    padding-bottom: 20px;
}

input {
    display: none;
}
.imgdiv video{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    object-position: center;
}
/* <-----------nav end-------> */
.twocontent {
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 30px;
}

.title{
    color:#DA0C81;
    margin-top: 50px;
    text-align: center;
    font-size: 5vmax;
}
.content{
    width: 100%;
}
 .title:hover{
    color:steelblue
}
.content h2{
    color:#0766AD;
    font-size:6cqmin ;
    margin: 10px 0;
}

span{
    padding-right:10px ;
    color:black;
}
.content h4{
    font-size:4cqmin;
    color: #940B92;
    width:100%;
}
/* <----------------> */
.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box1, .box2, .box3{
    min-width: 300px;
    height:80px;
    border-left:8px solid purple;
    background-color:lightgrey;
    display: flex;
    justify-content:start;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    color: purple;
}
.pvt{
    color: #DA0C81;
    font-size: 5cqmin;
}
.box h3{
    font-size: 5cqmin;
}

.copyright {
    width: 100%;
    background-color: #D0A2F7;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon1 {
    padding-top: 10px;
    font-size: 30px;
}

.contact, .about, .payment, .service {
    width: 300px;
    padding: 5px;
}

.payment h1{
    color: #363062;
}

.color1 {
    color: blue;
}

.color2 {
    color: red;
}   

.payment img {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.copycontent {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    border-top: 2px solid white ;
}


@media screen and (min-width:320px) and (max-width:500px){
        
    .rightnav{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width:100%;
        left: -100%;
        position: absolute;
        height: 500px;
        top:70px;
    }
    label{
        display: inline;
        position: absolute;
        padding:20px;
        right:0;
        z-index: 99;
    }
 
    
    .navbar{
        width:100%;
        background-color:#FFCF96;
        position:fixed;
        height:70px;
    }
    
    .twocontent {
        width: 100%;
        padding: 1rem;
        flex-wrap: wrap;
    }
}
